name: Deploy

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js 16
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - run: deploy.sh
        if: "github.event.head_commit.message == 'chore: Deploy'"
